body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #3b5998;
  padding: 20px 40px;
}

.main {
  padding: 20px 40px;
}

.header-position {
  display: flex;
  justify-content: space-around;
}

.page-info {
  display: flex;
  justify-content: space-around;
}

.service-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.logo-register {
  display: flex;
  justify-content: space-around;
}

.logo {
  color: white;
  font-size: 40px;
}

.register-button {
  color: white;
  font-size: small;
  width: 40px;
  height: 25px;
  margin-top: 18px;
  margin-left: 10px;
  border: 0;
  background-color: #42b72a;
  border-radius: 2px;
}

.join-facebook {
  font-size: small;
  height: 25px;
  float: right;
  color: white;
  margin-top: 18px;
  text-align: center;
}

.triangle {
  margin-top: 25px;
  margin-left: 8px;
  width: 0px;
  height: 0px;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.join-login {
  display: flex;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-info {
  display: flex;
}

.content-header {
  margin-right: 275px;
  font-size: 26px;
}

.info-content {
  margin-top: 10px;
  margin-left: 105px;
}

.brand-service {
  width: 475px;
  max-height: 500px;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

.group-service {
  width: 475px;
  max-height: 500px;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

.service-pic {
  display: block;
  margin: auto;
  padding: 20px;
}

.service-type {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

.service-description {
  text-align: center;
  font-size: 15px;
  color: #9599a1;
  font-weight: 400;
  margin: 0 20px;
}

.start-button {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
